<div class="form-container">
  <h1>Register</h1>

  <form action="/auth/register" method="POST">
    <div class="input-container">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" name="username" class="form-input" required>
    </div>

    <div class="input-container">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" class="form-input" required>
    </div>

    <div class="input-container">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" class="form-input" required>
    </div>

    <div class="input-container">
      <label for="confirmPassword" class="form-label">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-input" required>
    </div>

    <button type="submit" class="btn-register">Register</button>
  </form>

  <p>Já tem uma conta? <a href="/auth/login">Login</a></p>
</div>