{{!-- form to create a tought --}}

<div class="tought-form-container">
  <a href="/toughts/dashboard" class="btn btn-secondary">Voltar</a>
  <h1>Adicionar Pensamento</h1>
  <form action="/toughts/add" method="POST">
  <div class="form-group">
    <label for="title">Tought</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Digite o seu pensamento...">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
