<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toughts</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <nav id="navbar">
    <a href="/" id="logo">
      <img src="/img/toughts_logo.png" alt="Toughts">
    </a>

    <ul id="nav-links">
      {{#if session.userId}}
      <li><a href="/"><i class="bi bi-house-door-fill"></i> Pensamentos</a></li>
      {{!-- dashboard --}}
      <li><a href="/toughts/dashboard"><i class="bi bi-speedometer2"></i> Painel</a></li>
      <li><a href="/profile"><i class="bi bi-person-fill"></i> Perfil</a></li>
      <li><a href="/auth/logout"><i class="bi bi-box-arrow-right"></i> Sair</a></li>
      {{else}}
      <li><a href="/auth/login"><i class="bi bi-info-circle-fill"></i> Entrar</a></li>
      <li><a href="/auth/register"><i class="bi bi-envelope-fill"></i> Registrar</a></li>
      {{/if}}

    </ul>

  </nav>
  {{!-- mensagens --}}
  <div class="container">

    {{#if messages.error}}
    <div class="alert alert-danger">
      {{messages.error}}
    </div>
    {{/if}}

    {{#if messages.success}}
    <div class="alert alert-success">
      {{messages.success}}
    </div>
    {{/if}}

    {{{body}}}
  </div>
  <footer id="main-footer">
    <p>Toughts &copy; 2021</p>
  </footer>
</body>

</html>